# Kernel build artifacts
*.o
*.ko
*.mod*
*.cmd
.tmp_versions/
Module.symvers
modules.order
# Vim swap files
*.swp
*.swo
*.swn
*.sw?
*.out
13_ioctl/testapp
*.dtbo

# Ignore misc device test binaries/scripts
21_misdev/echo
21_misdev/hello_miscdev
21_misdev/insmod
21_misdev/testapp

# General kernel build artifacts (recommended)
*.ko
*.o
*.mod
*.mod.c
*.order
*.symvers
